<launch>
    <node pkg="rosbag" type="play" name="rosbag" clear_params="true" output="screen" args="-q /home/crrl/bag_files/basementOGNew.bag" />
    <node pkg="sfm" type="sfm" name="structure_from_motion" required="true" output="screen" clear_params="true">
      <param name="rgb_topic" type="string" value="/zed2/zed_node/rgb/image_rect_color" />
      <param name="depth_topic" type="string" value="/zed2/zed_node/depth/depth_registered" />
      <param name="camera_topic" type="string" value="/zed2/zed_node/depth/camera_info" />
      <param name="odom_topic" type="string" value="/zed2/zed_node/odom_correct" />
      <param name="model_path" type="string" value="/home/crrl/pt_files_for_rtabmap/m_multi_class_tl.pt" />
      <param name="leaf_size" type="double" value="0.30" />
    </node>
    <!--Rviz-->
  	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find sfm)/cfg/sfm.rviz" />
</launch>
